<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <GLOBAL>
<!--        o means do not monitor the sub-dir and files under parent dir-->
        <recurseDepth>0</recurseDepth>
    </GLOBAL>
    <DIR>
        <IncludeDir>
            <DIR>/tmp/zzh</DIR>
<!--            // -1 means monitor all sub-dir and files under parent dir-->
            <recurseDepth>-1</recurseDepth>
            <excludeHidden>false</excludeHidden>
        </IncludeDir>
    <IncludeDir>
        <DIR>/tmp/yyf</DIR>
        <!--            // -1 means monitor all sub-dir and files under parent dir-->
        <recurseDepth>-1</recurseDepth>
        <excludeHidden>false</excludeHidden>
    </IncludeDir>
    </DIR>
</config>